<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.poll.dao.extend.ClazzVMMapper">
 	<select id="selectAll" resultMap="ClazzVMResultMap">
 		select * from poll_clazz
 		<!-- id,name,description,grade_id,charge_id -->
 	</select>
 	
 	<select id="query" resultMap="ClazzVMResultMap">
 		select * from poll_clazz
 		<where>
 			<if test="clazz.gradeId != null">
		         grade_id = #{clazz.gradeId}
		    </if> 
		    <if test="clazz.name != null">
		         AND name LIKE #{clazz.name}
		    </if>
 		</where>
 		ORDER BY name DESC
 		limit ${page*pageSize},${pageSize}
 		<!-- id,name,description,grade_id,charge_id -->
 	</select>
 	<select id="count" resultType="long">
 		select count(*) from poll_clazz
 		<where>
 			<if test="clazz.gradeId != null">
		         grade_id = #{clazz.gradeId}
		    </if> 
		     <if test="clazz.name != null">
		         AND name LIKE #{clazz.name}
		    </if>
 		</where>
 	</select>
 	
 	<select id="selectById" parameterType="long" resultMap="ClazzVMResultMap">
 		select * from poll_clazz where id = #{id}
 		<!-- id,name,description,grade_id,charge_id -->
 	</select>
 	
 	<!-- 定义结果集 -->
 	<resultMap type="com.briup.apps.poll.bean.extend.ClazzVM" id="ClazzVMResultMap">
 		<id column="id" property="id"/>
 		<result column="name" property="name"/>
 		<result column="survey_number" jdbcType="INTEGER" property="surveyNumber" />
    		<result column="student_number" jdbcType="INTEGER" property="studentNumber" />
 		<result column="description" property="description"/>
 		<association 
 			column="grade_id" 
 			property="grade"
 			select="com.briup.apps.poll.dao.GradeMapper.selectByPrimaryKey">
 		</association>
 		<association 
 			column="charge_id" 
 			property="charge"
 			select="com.briup.apps.poll.dao.PollUserMapper.selectByPrimaryKey">
 		</association>
 	</resultMap>
</mapper>














