<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.poll.dao.extend.SurveyVMMapper">
 	<select id="selectAll" resultMap="SurveyVMResultMap">
 		select * from poll_survey
 		<!-- id,status,code,surveyDate,course_id,user_id,clazz_id,questionnaire_id -->
 	</select>
 	<select id="queryByMonth" resultMap="SurveyVMResultMap">
 		select * from poll_survey where surveyDate like #{survey.surveydate}"%" and status = '审核通过'
 	</select>
 	
 	<select id="query" resultMap="SurveyVMResultMap">
 		select * from poll_survey
 		<where>
 			<if test="survey.courseId != null">
		         course_id = #{survey.courseId}
		    </if> 
		    <if test="survey.clazzId != null">
		        AND clazz_id = #{survey.clazzId}
		    </if>
		    <if test="survey.questionnaireId != null">
		        AND questionnaire_id = #{survey.questionnaireId}
		    </if>
		    <if test="survey.userId != null">
		        AND user_id = #{survey.userId}
		    </if>
		    <if test="survey.surveydate != null">
		        AND surveyDate like #{survey.surveydate}
		    </if>
		    <if test="survey.statuses != null">
		        AND status IN
		         <foreach collection="survey.statuses" index="index" item="item" open="(" separator="," close=")">
               		 #{item}       
		        </foreach>    
		    </if>
 		</where>
 		ORDER BY surveyDate DESC
 		limit ${page*pageSize},${pageSize}
 		
 		<!-- id,status,code,surveyDate,course_id,user_id,clazz_id,questionnaire_id -->
 	</select>
 	<select id="count" resultType="long">
 		select count(*) from poll_survey
 		<where>
 			<if test="survey.courseId != null">
		         course_id = #{survey.courseId}
		    </if> 
		    <if test="survey.clazzId != null">
		        AND clazz_id = #{survey.clazzId}
		    </if>
		    <if test="survey.questionnaireId != null">
		        AND questionnaire_id = #{survey.questionnaireId}
		    </if>
		    <if test="survey.userId != null">
		        AND user_id = #{survey.userId}
		    </if>
		    <if test="survey.surveydate != null">
		        AND surveyDate like #{survey.surveydate}
		    </if>
		   <if test="survey.statuses != null">
		        AND status IN
		         <foreach collection="survey.statuses" index="index" item="item" open="(" separator="," close=")">
               		 #{item}       
		        </foreach>    
		    </if>
 		</where>
 		
 	</select>
 	
 	<select id="selectById" parameterType="long" resultMap="SurveyVMResultMap">
 		select * from poll_survey where id = #{id}
 		<!-- id,status,code,surveyDate,course_id,user_id,clazz_id,questionnaire_id -->
 	</select>
 	<select id="selectByClazzIdAndCheckPass" parameterType="long" resultMap="SurveyVMBaseResultMap">
 		select * from poll_survey 
 		where clazz_id = #{id}
 		and status = '审核通过'
 	</select>
 	
 	
 	<!-- 定义结果集 -->
 	<resultMap type="com.briup.apps.poll.bean.extend.SurveyVM" id="SurveyVMBaseResultMap">
 		<id column="id" property="id"/>
 		<result column="average" property="average"/>
 		<result column="status" property="status"/>
 		<result column="code" property="code"/>
 		<result column="surveyDate" property="surveydate"/>
 		<association 
 			column="clazz_id" 
 			property="clazzVM"
 			select="com.briup.apps.poll.dao.extend.ClazzVMMapper.selectById">
 		</association>
 		<association 
 			column="course_id" 
 			property="course"
 			select="com.briup.apps.poll.dao.CourseMapper.selectByPrimaryKey">
 		</association>
 		<association 
 			column="user_id" 
 			property="user"
 			select="com.briup.apps.poll.dao.PollUserMapper.selectByPrimaryKey">
 		</association>
 		<association 
 			column="questionnaire_id" 
 			property="qnVM"
 			select="com.briup.apps.poll.dao.extend.QuestionnaireVMMapper.selectById">
 		</association>
 	</resultMap>
 	
 	<resultMap extends="SurveyVMBaseResultMap"  type="com.briup.apps.poll.bean.extend.SurveyVM" id="SurveyVMResultMap">
 		<association 
 			column="questionnaire_id" 
 			property="qnVM"
 			select="com.briup.apps.poll.dao.extend.QuestionnaireVMMapper.selectById">
 		</association>
 	</resultMap>
</mapper>














